body {
    background-color: #e6e6d8;
    font-family: Arial, sans-serif;
    width: 800px;
    margin: auto;
}

h1 {
    font-size: 40px;
}

h2 {
    margin-top: 30px;
}

img {
    float: left;
    margin-right: 20px;
}

a {
    color: red;
}
