body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-around;
}


.container {
    margin-top: 30px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    gap: 70px;
}

.sidebar {
    background-color: #4c6fb3;
    color: white;
    padding: 30px;
    width: 250px;
}

.sidebar h3 {
    text-align: center;
}

.sidebar ul {
    margin-top: 20px;
}

/* Right content */
.content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* City cards */
.card {
    background-color: #4c6fb3;
    color: white;
    padding: 30px;
    width: 250px;
    height: 200px;
    text-align: center;
}

/* Image buttons */
.images {
    margin: 15px 0;
}

.images button {
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid black;
    margin: 0 5px;
}
